<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的MVC应用程序</title>
    <link href="~/static/layui/css/layui.css" rel="stylesheet" />
    <link href="~/static/css/maincss.css" rel="stylesheet" />
    <link href="~/static/layui/iconfont.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()

    <script src="~/static/layui/layui.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
